{% extends 'core/base.html' %}

{% block content %}

    <h1>Test Rules</h1>
    <hr>
    <div class="alert alert-info">
        This tool interacts with the REDCap Neurobehavioral Repository Copy. It will <strong>not</strong>
        affect the production REDCap project. Use it to test that Instrument creation
        is working as expected.
    </div>
    <hr>




    <form method="post" action="{% url 'create_instruments' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-success">
            Create instruments for all incomplete
        </button>
    </form>

    <form method="post" action="{% url 'ignore_visits' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-warning">
            Flag all incomplete as "Ignore"
        </button>
    </form>

    <form method="post" action="{% url 'delete_instruments' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-danger">
            Reset all (delete instruments or stop ignoring)
        </button>
    </form>



    <hr>
    <h3>Visit Information Records since {{ VISIT_INFO_CUTOFF_DATE }}</h3>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Record ID</th>
                <th>Visit instance</th>
                <th>Visit Date</th>
                <th>Visit Studies</th>
                <th>Visit Age</th>
                <th>Visit Group</th>
                <th>Status</th>
                <th>Created Instrument/Instance #</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
                <tr {% if visit.completed_visit and visit.completed_visit.ignore %}class="table-secondary"{% elif visit.completed_visit %}class="table-success"{% endif %}>
                    <td>{{ visit.record_id }}</td>
                    <td>{{ visit.redcap_repeat_instance }}</td>
                    <td>{{ visit.visit_info_date }}</td>
                    <td>{{ visit.visit_info_studies|join:" | " }}</td>
                    <td>{{ visit.visit_info_age|floatformat:2 }}</td>
                    <td>{{ visit.group_name }}</td>
                    <td>
                        {% if visit.completed_visit and visit.completed_visit.ignore %}
                            ignored
                        {% elif visit.completed_visit %}
                            processed
                        {% endif %}
                    </td>
                    <td>
                        {% if visit.completed_visit %}
                            {% for oCreated in visit.completed_visit.createdinstrument_set.all %}
                                • {{ oCreated.instrument_name }} (#{{ oCreated.instance }})<br>
                            {% empty %}
                                <span class="text-muted">None</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        {% if visit.completed_visit and not visit.completed_visit.ignore %}
                            <form method="post" action="{% url 'delete_instruments' visit.record_id visit.redcap_repeat_instance %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete instruments
                                </button>
                            </form>
                        {% endif %}
                        {% if not visit.completed_visit %}
                            <form method="post" action="{% url 'create_instruments' visit.record_id visit.redcap_repeat_instance %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-success">
                                    Create instruments
                                </button>
                            </form>
                        {% endif %}
                        {% if visit.completed_visit and visit.completed_visit.ignore %}
                            <form method="post" action="{% url 'delete_instruments' visit.record_id visit.redcap_repeat_instance %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-warning">
                                    Stop Ignoring
                                </button>
                            </form>
                        {% endif %}
                        {% if not visit.completed_visit %}
                            <form method="post" action="{% url 'ignore_visits' visit.record_id visit.redcap_repeat_instance %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-warning">
                                    Ignore visit
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}